#widget {
    position: relative;
    top: 200px;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 320px;
    height: 240px;
    border-radius: 10px;
    overflow: hidden;
    background: #f6f3ff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 8px rgba(0,0,0,0.2);
    padding: 10px;
  }
  
  #camera-feed {
    width: 100%;
    height: auto;
    object-fit: cover;
    display: block;
    border-radius: 10px;
  }

  #overlay {
  position: absolute;
  width: 48px;        
  height: 48px;
  pointer-events: none;
  z-index: 10;
  display: none;
  }

  button {
    margin: 2px;
    padding: 5px 10px;
    background: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  button:hover {
    background: #0056b3;
  }